table{
    width: 100%;
}
body{
    background-color: black;
}
link{
    color: green;
}
link:hover{
    color: magenta;
}
#githubLinks{
    background-color: blue;
}
#githubLinks>a{
    color: white;
}
th,td{
    color: lime;
    text-align: center;
}