table{
    width: 100%;
    border-radius: 25%;
    border-style: solid;
}
body{
    background-color: white;
}
link{
    color: blue;
}
link:hover{
    color: magenta;
}
#githubLinks{
    background-color: blue;
}
#githubLinks>a{
    color: white;
}
th,td{
    color: black;
    text-align: center;
}
img{
    height: 189px;
}
div{
    display: flex;
    justify-content:space-around
}

td{
    border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
  border-radius: 5px; /* this doesn't work */
  border-width: 4px;
  border-left-style: solid;
  border-right-style: solid;
  border-top-style: solid;
  padding: 5px;
    border-bottom-style: solid;
    border-collapse: collapse;
}